<h1>Show task</h1>

<ul>
    <li>Title: <%= @task.title %></li>
    <li>Task details: <%= @task.details %></li>
    <li>Completed: <%= @task.completed %></li>
</ul>

<%= link_to "All tasks", all_tasks_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>